<div class="row">
    <h1 class="text-center">New OCR Record</h1>
    <div class="col-6 offset-3">
        <form action="/ocr" method="POST" encType="multipart/form-data">
            <section>
                <div class="mb-3">
                    <label for="image" class="form-label">Choose Picture</label>
                    <input class="form-control" type="file" id="image" name="image">
                </div>
            </section>

            <div class="mb-3">
                <button class="btn btn-success">Add</button>
            </div>
        </form>
        <!-- <a href="/">All Records</a> -->
    </div>
</div>